@import '../bootstrap/scss/bootstrap';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'reset';
@import 'animations';

// @include scrollbars(13px, $primaryColor, #FFF);

.header {
  background: #FFF;
  border-bottom: 1px solid #EEF1F6;
}

.logo {
  svg {
    height: 36px;
  }
}

.navbar.navbar-light {
  .nav-item {
    margin-left: 2.25rem;
  }
  .nav-link {
    display: block;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    &:hover, &:focus {
      color: #000;
    }
  }
  .btn-primary {
    .nav-link {
      color: #FFF;
    }
  }
}

.navbar-light .navbar-toggler {
  padding: .25rem 0 .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: $primaryColor;
  border-color: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='24' viewBox='0 0 19 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.3312 12.5031L18.6186 5.21647C19.1287 4.70638 19.1256 3.88916 18.6186 3.3814C18.1108 2.87131 17.2936 2.87753 16.7866 3.3814L9.49999 10.668L2.21336 3.3814C1.70327 2.87131 0.886045 2.87442 0.3814 3.3814C-0.128687 3.89227 -0.125577 4.70872 0.3814 5.21647L7.66881 12.5031L0.3814 19.7866C-0.128687 20.2967 -0.125577 21.114 0.3814 21.6209C0.889156 22.1318 1.70638 22.1287 2.21336 21.6209L9.49999 14.3343L16.7866 21.6209C17.2967 22.1318 18.114 22.1287 18.6186 21.6209C19.1287 21.1108 19.1256 20.2936 18.6186 19.7866L11.3312 12.5031Z' fill='%23E73E3E'/%3E%3C/svg%3E%0A");
}

.navbar-light .collapsed .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.28571 2.57143C0.575634 2.57143 0 1.99579 0 1.28571C0 0.575634 0.575634 0 1.28571 0H21.8571C22.5672 0 23.1429 0.575634 23.1429 1.28571C23.1429 1.99579 22.5672 2.57143 21.8571 2.57143H1.28571ZM1.28571 10.2857C0.575634 10.2857 0 9.71008 0 9C0 8.28992 0.575634 7.71429 1.28571 7.71429H21.8571C22.5672 7.71429 23.1429 8.28992 23.1429 9C23.1429 9.71008 22.5672 10.2857 21.8571 10.2857H1.28571ZM1.28571 18C0.575634 18 0 17.4244 0 16.7143C0 16.0042 0.575634 15.4286 1.28571 15.4286H21.8571C22.5672 15.4286 23.1429 16.0042 23.1429 16.7143C23.1429 17.4244 22.5672 18 21.8571 18H1.28571Z' fill='%23E73E3E'/%3E%3C/svg%3E%0A");
}

button:focus {
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: $primaryColor;
  border-color: $primaryColor;
  border-radius: 5px;
  font-family: "Montserrat";
  font-size: 14px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #dd3d31;
  border-color: #dd3d31;
}

.btn-primary.focus, .btn-primary:focus {
  background-color: #dd3d31;
  border-color: #dd3d31;
}

.btn-primary:hover {
  color: #fff;
  background-color: $primaryColor;
  border-color: $primaryColor;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(205,61,64,.5);
  outline: none;
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  min-height: 100vh;
}

.content {
  flex: 1;
}

.section-top {
  background-image: url('../images/hunt-a-killer.jpg');
  background-size: cover;
  background-position: center center;
  @media (min-width: 1600px) {
    background-position: center -20px;
  }
  background-repeat: no-repeat;
  padding: 70px 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
  }
  .casestudy-title {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    padding: 0 30px;
    width: 100%;
    @media(min-width: 700px) {
      width: 630px;
      padding: 0;
    }
    text-align: center;
    line-height: 45px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, .25);
  }
}

.section {
  .section-title {
    color: $titleColor;
    line-height: 36px;
    font: {
      size: 26px;
      weight: 700;
    }
    &.title-sm {
      color: $primaryColor;
      font-size: 14px;
      line-height: 1;
    }
  }
  .section-description {
    color: $textColor;
    font-size: 15px;
    font-weight: 500;
    line-height: 29px;
    .title {
      color: #000;
      font: {
        size: 17px;
        weight: 600;
      }
    }
  }
  .section-subtitle {
    color: $textColor;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
  }
}

.light-bg {
  background: $lightBg;
}


.services {
  .services-item {
    .service-icon {
      width: 50px;
      height: 50px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    }
    .service-title {
      color: #536288;
      font: {
        size: 17px;
        weight: 500;
      }
    }
  }
}


.results {
  .result {
    box-shadow: 0 10px 35px rgba(0, 56, 107, .06);
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 2px;
    .result-heading {
      background: $primaryColor;
      width: 72px;
      height: 65px;
      color: #FFF;
      border-radius: 16px;
      font: {
        size: 20px;
        weight: 700;
      }
    }
    .result-title {
      color: $primaryColor;
      font: {
        size: 18px;
        weight: 700;
      }
      line-height: 29px;
    }
    .result-description {
      color: #3C4067;
      line-height: 27px;
      font-size: 15px;
    }
  }
}

.section-img {
  img {
    width: 100%;
    @media (min-width: 1200px) {
      width: 450px;
    }
    box-shadow: 0 4px 20px rgba(0, 0, 0, .13);
    border-radius: 8px;
  }
  &.img-mobile {
    img {
      width: unset;
    }
  }
}


.before-after {
  .tab {
    a {
      background: #FFF;
      border: 1px solid #F6F6F8;
      box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
      border-radius: 10px;
      .tab-title {
        color: $titleColor;
        font-size: 17px;
        font-weight: 600;
      }
    }
    @media(max-width: 575px) {
      width: 100%;
      margin-left: 0 !important;
      margin-right: 0 !important;
      &:first-child {
        margin-bottom: 1.5rem !important;
      }
      .tab-title {
        padding-left: .25rem !important;
        padding-right: .25rem !important;
      }
    }
    .tab-description {
      color: $textColor;
      font-size: 15px;
      line-height: 24px;
    }
    &.active a {
      background: $primaryColor;
      .tab-title {
        color: #FFF;
      }
      .tab-description {
        color: #FFF;
      }
    }
  }

  .website-shadow {
    width: 80%;
    height: 204px;
    position: absolute;
    bottom: 0px;
    box-shadow: 0 8px 60px rgba(0, 0, 0, .25);
  }

  .website {
    width: 100%;
    height: 422px;
    @include media-breakpoint-only(md) {
      height: 650px;
    }
    background: #E8E8E8;
    padding: 20px;
    border-radius: 30px;
    position: relative;
    .website-img {
      overflow-y: scroll;
      height: 100%;
      border-radius: 11px;
      &::-webkit-scrollbar {
        width: 1.2em;
        height: 2em;
        background: #fff;
        border-radius: 0 11px 11px 0;
      }
      &::-webkit-scrollbar-thumb {
        border: .4em solid transparent;
        background-clip: padding-box;
        border-radius: 1em;
        background-color: #d4d4d4;
      }
      &::-webkit-scrollbar-corner {
          background-color: transparent
      }
    }
    img {
      width: 100%;
    }
  }
}


.video video {
  border-radius: 10px;
}

.contact .section-subtitle {
  font-size: 16px;
}

.section {
  .btn-primary {
    background-color: #FD4F51;
    border-color: #FD4F51;
    box-shadow: 0 10px 20px rgba(253, 79, 81, .6);
    font-size: 17px;
    font-weight: 600;
  }
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #f23f41;
    border-color: #f23f41;
  }
  .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 10px 20px rgba(253, 79, 81, .6);
  }
}

.footer {
  box-shadow: 0 -4px 4px rgba(221, 221, 221, .25);
  .footer-info {
    border-top: 1px solid #F4F4F8;
    background: #FAFAFC;
    span {
      color: #000;
      font: {
        size: 14px;
      }
      line-height: 23px;
    }
  }
}


@include media-breakpoint-down(lg) {
  .section-top {
    padding: 40px 0;
    .company-logo {
      img {
        width: 270px;
      }
    }
    .casestudy-title {
      font-size: 25px;
    }
  }

  .section {
    .section-title {
      font: {
        size: 22px;
      }
    }
    .section-description {
      font-size: 14px;
    }
    .section-subtitle {
      font-size: 14px;
    }
  }

  .services .services-item .service-title {
    font-size: 16px;
  }
}


@include media-breakpoint-down(xs) {
  .section-top {
    padding: 30px 0;
    .company-logo {
      img {
        width: 210px;
      }
    }
    .casestudy-title {
      font-size: 18px;
      line-height: 32px;
      padding: 10px;
      margin-top: .5rem!important;
    }
  }

  .section {
    .section-title {
      font: {
        size: 20px;
      }
      line-height: 30px;
    }
    .section-description {
      font-size: 14px;
    }
  }

  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .navbar.navbar-light {
    .navbar-collapse {
      position: absolute;
      top: 55px;
      right: 0;
      z-index: 1;
      background: #FFF;
      min-width: 160px;
      border-radius: 5px;
      box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    }
    .nav-item {
      margin-left: 0;
      width: 100%;
      border-bottom: 1px solid #f2f2f2;
      .nav-link {
        padding: 20px !important;
        width: 100%;
        text-align: center;
      }
      &.btn-primary {
        background-color: transparent;
        border-color: transparent;
        .nav-link {
          padding: 20px !important;
          color: #000;
        }
      }
    }
  }

  .navbar-nav {
    &.animated {
      animation-duration: 0s;
    }
  }

  .services .services-item .service-title {
    font-size: 14px;
  }

  .video {
    padding: 0 !important;
  }
}

@media(max-width: 450px) {
  .before-after {
    .website {
      border-radius: 15px;
      padding: 10px !important;
    }
  }
}