@import '../bootstrap/scss/bootstrap';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'reset';

// @include scrollbars(13px, $primaryColor, #FFF);

.header {
  background: #FFF;
  border-bottom: 1px solid #EEF1F6;
}

.logo {
  svg {
    height: 36px;
  }
}

.navbar {
  .nav-item {
    margin-left: 2.25rem;
  }
  .nav-link {
    display: block;
    color: #000;
    font-size: 15px;
    font-weight: 500;
  }
  .btn-primary {
    .nav-link {
      color: #FFF;
    }
  }
}


.btn-primary {
  color: #fff;
  background-color: $primaryColor;
  border-color: $primaryColor;
  border-radius: 5px;
  font-family: "Montserrat";
  font-size: 14px;
  span {
    color: #fff !important;
    font-size: 14px;
  }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #c73025;
  border-color: #c73025;
}
.btn-primary:active {
  background-color: #c73025;
  border-color: #c73025;
}

.btn-primary.focus, .btn-primary:focus {
  background-color: #c73025;
  border-color: #c73025;
}

.btn-primary:hover {
    color: #fff;
    background-color: $primaryColor;
    border-color: $primaryColor;
}


.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  min-height: 100vh;
}

.content {
  flex: 1;
}

.section-top {
  background-image: url('../images/hunt-a-killer.jpg');
  background-size: cover;
  background-position: center -70px;
  height: 543px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
  }
  .casestudy-title {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    width: 630px;
    text-align: center;
    line-height: 45px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, .25);
  }
}

.section {
  .section-title {
    color: $titleColor;
    font: {
      size: 28px;
      weight: 600;
    }
  }
  .section-description {
    color: $textColor;
    font-size: 16px;
    line-height: 28px;
  }
}


.footer {
  .footer-info {
    border-top: 1px solid #EEF1F6;
    span {
      color: #282828;
      font: {
        size: 15px;
        weight: 300;
      }
      line-height: 23px;
    }
  }
}