@import '../bootstrap/scss/bootstrap';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'reset';
@import 'animations';

// @include scrollbars(13px, $primaryColor, #FFF);

.header {
  background: #FFF;
  border-bottom: 1px solid #EEF1F6;
}

.logo {
  svg {
    height: 36px;
  }
}

.navbar.navbar-light {
  .nav-item {
    margin-left: 2.25rem;
  }
  .nav-link {
    display: block;
    color: #000;
    font-size: 15px;
    font-weight: 500;
  }
  .btn-primary {
    .nav-link {
      color: #FFF;
    }
  }
}

.navbar-light .navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: $primaryColor;
  border-color: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23CD3D40' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath d='M492,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,236,492,236z'/%3E%3Cpath d='M492,76H20C8.954,76,0,84.954,0,96s8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,76,492,76z'/%3E%3Cpath d='M492,396H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20 C512,404.954,503.046,396,492,396z'/%3E%3C/svg%3E%0A");
}


.btn-primary {
  color: #fff;
  background-color: $primaryColor;
  border-color: $primaryColor;
  border-radius: 5px;
  font-family: "Montserrat";
  font-size: 14px;
  span {
    color: #fff !important;
    font-size: 14px;
  }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #c73025;
  border-color: #c73025;
}
.btn-primary:active {
  background-color: #c73025;
  border-color: #c73025;
}

.btn-primary.focus, .btn-primary:focus {
  background-color: #c73025;
  border-color: #c73025;
}

.btn-primary:hover {
  color: #fff;
  background-color: $primaryColor;
  border-color: $primaryColor;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(205,61,64,.5);
  outline: none;
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  min-height: 100vh;
}

.content {
  flex: 1;
}

.section-top {
  background-image: url('../images/hunt-a-killer.jpg');
  background-size: cover;
  @media (min-width: 1400px) {
    background-position: center -70px;
  }
  background-position: center center;
  background-repeat: no-repeat;
  padding: 165px 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
  }
  .casestudy-title {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    padding: 0 30px;
    width: 100%;
    @media(min-width: 700px) {
      width: 630px;
      padding: 0;
    }
    text-align: center;
    line-height: 45px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, .25);
  }
}

.section {
  .section-title {
    color: $titleColor;
    line-height: 42px;
    font: {
      size: 28px;
      weight: 600;
    }
  }
  .section-description {
    color: $textColor;
    font-size: 16px;
    line-height: 29px;
  }
  .section-subtitle {
    color: $textColor;
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
  }
}

.light-bg {
  background: $lightBg;
}


.services {
  .services-item {
    .service-icon {
      width: 55px;
      height: 55px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    }
    .service-title {
      color: $textColor;
      font: {
        size: 18px;
        weight: 500;
      }
    }
  }
}


.results {
  .result {
    box-shadow: 0 10px 35px rgba(0, 56, 107, .06);
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 2px;
    .result-heading {
      background: $primaryColor;
      width: 72px;
      height: 65px;
      color: #FFF;
      border-radius: 16px;
      font: {
        size: 20px;
        weight: 700;
      }
    }
    .result-title {
      color: $primaryColor;
      font: {
        size: 18px;
        weight: 700;
      }
    }
    .result-description {
      color: #3C4067;
      line-height: 27px;
      font-size: 15px;
    }
  }
}

.section-img {
  img {
    width: 100%;
    @media (min-width: 1200px) {
      width: 450px;
    }
    box-shadow: 0 4px 20px rgba(0, 0, 0, .13);
    border-radius: 8px;
  }
}


.before-after {
  .tab {
    background: #FFF;
    border: 1px solid #F6F6F8;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
    border-radius: 10px;
    .tab-title {
      color: $titleColor;
      font-size: 18px;
      font-weight: 600;
    }
    .tab-description {
      color: $textColor;
      font-size: 15px;
      line-height: 24px;
    }
    &.active {
      background: $primaryColor;
      .tab-title {
        color: #FFF;
      }
      .tab-description {
        color: #FFF;
      }
    }
  }

  .website-shadow {
    width: 80%;
    height: 204px;
    position: absolute;
    bottom: 0px;
    box-shadow: 0 8px 60px rgba(0, 0, 0, .25);
  }

  .website {
    width: 100%;
    height: 496px;
    background: #E8E8E8;
    border-radius: 40px;
    position: relative;
    .website-img {
      overflow-y: scroll;
      height: 100%;
      border-radius: 11px;
      &::-webkit-scrollbar {
        width: 1.2em;
        height: 2em;
        background: #fff;
        border-radius: 0 11px 11px 0;
      }
      &::-webkit-scrollbar-thumb {
        border: .4em solid transparent;
        background-clip: padding-box;
        border-radius: 1em;
        background-color: #d4d4d4;
      }
      &::-webkit-scrollbar-corner {
          background-color: transparent
      }
    }
    img {
      width: 100%;
    }
  }
}

.video video {
  border-radius: 10px;
}

.contact .section-subtitle {
  font-size: 16px;
}

.contact .btn-primary {
  font-size: 17px;
  font-weight: 600;
}

.footer {
  box-shadow: 0 -4px 4px rgba(221, 221, 221, .25);
  .footer-info {
    border-top: 1px solid #F4F4F8;
    background: #FAFAFC;
    span {
      color: #000;
      font: {
        size: 14px;
      }
      line-height: 23px;
    }
  }
}


@include media-breakpoint-down(lg) {
  .section-top {
    padding: 100px 0;
    .company-logo {
      img {
        width: 270px;
      }
    }
    .casestudy-title {
      font-size: 25px;
    }
  }

  .section {
    .section-title {
      font: {
        size: 22px;
        weight: 600;
      }
    }
    .section-description {
      font-size: 14px;
    }
    .section-subtitle {
      font-size: 13px;
    }
  }

  .services .services-item .service-title {
    font-size: 16px;
  }
}


@include media-breakpoint-down(xs) {
  .section-top {
    padding: 70px 0;
    .company-logo {
      img {
        width: 230px;
      }
    }
    .casestudy-title {
      font-size: 18px;
      line-height: 32px;
      padding: 10px;
      margin-top: .5rem!important;
    }
  }

  .section {
    .section-title {
      font: {
        size: 20px;
      }
      line-height: 30px;
    }
    .section-description {
      font-size: 14px;
    }
    .section-subtitle {
      font-size: 14px;
    }
  }

  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .navbar.navbar-light {
    .navbar-collapse {
      position: absolute;
      top: 55px;
      right: 0;
      z-index: 1;
      background: #FFF;
      min-width: 160px;
      border-radius: 5px;
      box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    }
    .nav-item {
      margin-left: 0;
      width: 100%;
      border-bottom: 1px solid #f2f2f2;
      .nav-link {
        padding: 20px !important;
        width: 100%;
        text-align: center;
      }
      &.btn-primary {
        background-color: transparent;
        border-color: transparent;
        .nav-link {
          padding: 20px !important;
          color: #000;
        }
      }
    }
  }

  .navbar-nav {
    &.animated {
      animation-duration: 0s;
    }
  }

  .services .services-item .service-title {
    font-size: 14px;
  }

  .video {
    padding: 0 !important;
  }
}

@media(max-width: 450px) {
  .before-after {
    .website {
      border-radius: 15px;
      padding: 10px !important;
    }
  }
}